<br>
<footer class="page-footer font-small " >
           
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3" style="font-family: 'Source Sans Pro', sans-serif; font-weight: bold;">© 2020 Copyright :
        <a style="font-family: 'Source Sans Pro', sans-serif; font-weight: bold;"> Cotast</a>
        <p style="font-family: 'Source Sans Pro', sans-serif; font-weight: bold;">Créé par <samp class="text-info">Youssef Mahersi</samp> </p>
      </div>
      <!-- Copyright -->
    
    </footer>
   
    
    
        
     