<br>
<footer class="page-footer font-small ">
           
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2019 Copyright :
        <a > Cotast</a>
        <p>Créé par <samp class="text-info">Youssef Mahersi</samp> </p>
      </div>
      <!-- Copyright -->
    
    </footer>
   
    
    
        
     