<link rel="icon" href="/assets/cotast AI.png" type="image/png"/>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Cotast</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            
         
            
            
          </ul>
        </div>
        <form class="form-inline my-2 my-lg-0" action="/login" method="POST">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <input class="form-control mr-sm-2" type="email" placeholder="Saisir votre email" name="email" value="<%= oldInputs.email%>" aria-label="Your email">
          <br>
          <input class="form-control mr-sm-2"  type="password" name="password"  placeholder="Saisir votre password" aria-label="Your password">
          <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">connexion</button>
        </form>
        
      </nav>